PORT=4001
HOST_PORT=4001
SERVICES=s1,s2,s3
PROM_URL=http://<ip>:<port>
S1_URL=http://<ip>:<port>
S2_URL=http://<ip>:<port>
S3_URL=http://<ip>:<port>
PUSH_NOTIFICATION_DB=/db/notification.db
HOST_PUSH_NOTIFICATION_DB=/opt/monitoring/db/notification.db
VAPID_PUBLIC_KEY=<your-public-vapid-key>
VAPID_PRIVATE_KEY=<your-private-vapid-key>
VAPID_SUBJECT=mailto:admin@example.com
